---

- name: Database server setup
  hosts: wp_db
  become: true
  vars:
    wp_db_name: wordpress
    wp_db_user: wpuser
    wp_db_pass: "MG7tan4A4GCA5t&ykc1mcXRB"
  tasks:
    - name: Installer MariaDB + dépendances Python
      apt:
        update_cache: true
        name:
          - mariadb-server
          - python3-pymysql
        state: present

    - name: Démarrer et activer MariaDB
      service:
        name: mariadb
        state: started
        enabled: true

    - name: Créer la base WordPress
      community.mysql.mysql_db:
        name: "{{ wp_db_name }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Créer l'utilisateur WordPress et lui donner les droits
      community.mysql.mysql_user:
        name: "{{ wp_db_user }}"
        password: "{{ wp_db_pass }}"
        priv: "{{ wp_db_name }}.*:ALL"
        host: "%"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock


- name: APP server setup
  hosts: wp_app
  become: true
  vars:
    wp_site: wordpress
    wp_domain: "wordpress.local"
    wp_root: "/var/www/{{ wp_site }}"
    wp_db_name: wordpress
    wp_db_user: wpuser
    wp_db_pass: "MG7tan4A4GCA5t&ykc1mcXRB"
    wp_db_host: "192.168.50.102"
    wp_url: "https://wordpress.org/latest.tar.gz"
  tasks:
    - name: Installer Apache + PHP + extensions
      apt:
        update_cache: true
        name:
          - apache2
          - php
          - libapache2-mod-php
          - php-mysql
          - php-curl
          - php-gd
          - php-xml
          - php-mbstring
          - php-zip
          - unzip
          - tar
        state: present

    - name: Activer rewrite
      command: a2enmod rewrite
      args:
        creates: /etc/apache2/mods-enabled/rewrite.load
      notify: Reload Apache

    - name: Créer le dossier du site
      file:
        path: "{{ wp_root }}"
        state: directory
        owner: www-data
        group: www-data
        mode: "0755"

    - name: Télécharger WordPress
      get_url:
        url: "{{ wp_url }}"
        dest: /tmp/wordpress.tar.gz
        mode: "0644"

    - name: Extraire WordPress
      unarchive:
        src: /tmp/wordpress.tar.gz
        dest: /tmp
        remote_src: true

    - name: Déployer WordPress dans le DocumentRoot
      copy:
        src: /tmp/wordpress/
        dest: "{{ wp_root }}/"
        remote_src: true
        owner: www-data
        group: www-data

    - name: Créer wp-config.php depuis wp-config-sample.php
      copy:
        src: "{{ wp_root }}/wp-config-sample.php"
        dest: "{{ wp_root }}/wp-config.php"
        remote_src: true
        owner: www-data
        group: www-data
        mode: "0640"

    - name: Configurer la DB dans wp-config.php
      replace:
        path: "{{ wp_root }}/wp-config.php"
        regexp: "{{ item.regexp }}"
        replace: "{{ item.replace }}"
      loop:
        - { regexp: "database_name_here", replace: "{{ wp_db_name }}" }
        - { regexp: "username_here",      replace: "{{ wp_db_user }}" }
        - { regexp: "password_here",      replace: "{{ wp_db_pass }}" }
        - { regexp: "localhost",          replace: "{{ wp_db_host }}" }

    - name: VHost Apache WordPress
      copy:
        dest: "/etc/apache2/sites-available/{{ wp_site }}.conf"
        mode: "0644"
        content: |
          <VirtualHost *:80>
              ServerName {{ wp_domain }}
              DocumentRoot {{ wp_root }}

              <Directory {{ wp_root }}>
                  AllowOverride All
                  Require all granted
              </Directory>

              ErrorLog ${APACHE_LOG_DIR}/{{ wp_site }}_error.log
              CustomLog ${APACHE_LOG_DIR}/{{ wp_site }}_access.log combined
          </VirtualHost>
      notify: Reload Apache

    - name: Activer le site
      command: "a2ensite {{ wp_site }}.conf"
      args:
        creates: "/etc/apache2/sites-enabled/{{ wp_site }}.conf"
      notify: Reload Apache

    - name: Healthcheck
      service:
        name: apache2
        state: started
        enabled: true

  handlers:
    - name: Reload Apache
      service:
        name: apache2
        state: reloaded